<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetaTagPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload right-sidebar">
    <div id="page-wrapper">
        @await Html.PartialAsync("HeaderPartial")
        <div id="main-wrapper">
            <div class="container">
                <div class="row gtr-600">
                    <div class="col-4 col-12-medium">
                        @RenderBody()

                    </div>
                    @await Html.PartialAsync("SidebarPartial")
                </div>
                
            </div>
            @await Html.PartialAsync("FooterPartial")
        </div>
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>