<div id="header-wrapper">
    <header id="header" class="container">
            <div id="logo">
                <h1> BEST CAR UKRAINE </h1>
            </div>
            <nav id="nav">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна</a></li>
                    <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наші послуги</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Особистий кабінет</a></li>
                </ul>
            </nav>
     </header>
</div>