<div class="col-4 col-12-medium">
       <div id="sidebar">
           <cache>
    @(await Component.InvokeAsync<Project1.Models.ViewComponents.SidebarViewComponent>())
            </cache>
       </div>
</div>